.score {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: #8cf7b0;
  margin-left: 15px;
  font: inherit;
}

.score ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.score h5 {
  font-weight: bold;
}
