.navbarPlay {
  background-color: #733572;
  padding-bottom: 5px;
  position: absolute;
  width: 100%;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.content {
  padding-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
  background-color: #334756;
  color: white;
}
.contentList {
  padding-top: 1%;
  padding-left: 2%;
  margin-top: 10px;
  margin-bottom: 25px;
  align-content: center;
  background-color: #082032;
  border: 5px solid #733572;
  border-radius: 25px;
  box-shadow: 10px 10px;
}
button.button-game {
  border-radius: 16px;
  border: 1px solid #f0a500;
  background-color: white;
  color: black;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 1rem 0;
}
