@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,300;1,400;1,600&display=swap');
 
* {
    padding: 0;
    margin: 0;
    font-family: open sans;
    /* background: #9C835F;
    z-index: 100; */
}

/* Haeder */

.header ul{
    display: flex;
    list-style-type: none;
   
}

.header ul a {
    text-decoration: none;
}

.header ul a li{
    margin: 30px 0 0 27px;
}

.header ul a li.navigasi{
    margin-top: 12px;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #724C21;
    cursor: pointer;

}

.header ul a li.logo img {
    height: 72px;
    width: 72px;
    border-radius: 30px;
}

.header ul a li.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
}

.title-main {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
}

/* body */
#game-batu-kertas-gunting {
    background: #9C835F;
    height: 1500px;
    max-width: 100%;
}

/* Player */

.title-player {
    margin-top: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.player li {
    list-style-type: none;
    display: flex;
}



#img-p-batu {
    padding: 40px 30px;
    margin: 5px auto;
    width: 190px;
    height: 160px;
    cursor: pointer;
}

#img-p-kertas {
    margin: 5px auto;
    padding: 40px 30px;
    width: 180px;
    height: 250px;
    cursor: pointer;
}

#img-p-gunting{
    margin: 5px auto;
    padding: 40px 30px;
    width: 214px;
    height: 220px;
    cursor: pointer;
}

/* VS & Result */

.vs {
    margin-top: 327px;
    font-weight: bold;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 327px;
    width: 271.11px;
    height: 166.93px;
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    font-weight: bold;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.refresh {
    margin-top: 250px;
    margin-bottom: 40px;
    margin-left: 120px;
    width: 77px;
    height: 71px;
    cursor: pointer;
}


/* Com */

.title-com {
    margin-top: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.com li {
    list-style-type: none;
    display: flex;
}

.img-com {
    margin: 50px auto;
   
}

#img-com-batu {
    padding: 40px 30px;
    margin: 5px auto;
    width: 190px;
    height: 160px;
    cursor: pointer;
}

#img-com-kertas {
    margin: 5px auto;
    padding: 40px 30px;
    width: 180px;
    height: 250px;
    cursor: pointer;
}

#img-com-gunting {
    margin: 5px auto;
    padding: 40px 30px;
    width: 214px;
    height: 220px;
    cursor: pointer;
}

/* class mainppulation */

.active-player {
    width: 223px;
    height: 300px;
    background: #C4C4C4;
    border-radius: 30px;
}

.hidden {
    display: none;
}

.putar {
    animation: putar 0.5s;
}

@keyframes putar {
    0% {rotate: 0deg;}
    20% {rotate: 72deg;}
    40% {rotate: 144deg;}
    60% {rotate: 216deg;}
    80% {rotate: 288deg;}
    100% {rotate: 360%;}
}

/* Score */
.score_P1 {
    display: flex;
    justify-content: center;
    width: 160px;
    height: 80px;
    background: #f7f7f7c2;
    border-radius: 10px;
    font-weight: bold;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #020202;
}

.time {
    display: flex;
    justify-content: center;
    width: 160px;
    height: 80px;
    background: #f7f7f7c2;
    border-radius: 10px;
    font-size: 25px;
    line-height: 52px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #020202;
}

/* responsive */

@media (max-width: 1120px) {
    .header ul a li.title {
        display:none;
    }
    .title-main {
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        text-align: center;
        color: #F9B23D;
    }
}

@media (max-width: 992px) {
    .result {
        width: 200px;
    }

    .refresh {
        margin-left: 70px;
    }
        
}

@media (max-width: 768px) {

    #img-p-batu {
        padding: 20px 10px;
        width: 150px;
        height: 120px;
    }
    
    #img-p-kertas {
        padding: 20px 10px;
        width: 130px;
        height: 190px;
    }
    #img-p-gunting{
        padding: 20px 10px;
        width: 174px;
        height: 180px;
    }

    #img-com-batu {
        padding: 20px 10px;
        width: 150px;
        height: 120px;
    }
    
    #img-com-kertas {
        padding: 20px 10px;
        width: 130px;
        height: 190px;
    }
    
    #img-com-gunting {
        padding: 20px 10px;
        width: 174px;
        height: 180px;
    }

    .title-player {
        font-size: 25px;
        line-height: 30px;
    }

    .title-com {
        font-size: 25px;
        line-height: 30px;
    }
    
    .vs {
        margin-top: 270px;
        font-size: 100px;
        line-height: 120px;
    }

    .result {
        display: flex;
        justify-content: center;
        margin-top: 300px;
        width: 120px;
        height: 80px;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
    }

    .refresh {
        margin-left: 40px;
        margin-top: 220px;
    }

    .hidden {
        display: none;
    }

}

@media (max-width:735px) {
    .title-main {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (max-width:660px) {
    .title-main {
        font-size: 20px;
        line-height: 30px;
    }
}


@media (max-width: 510px) {
    .container.game {
        margin-top: -40px;
    }

    .header ul a li.navigasi{
        font-size: 40px;
        line-height: 68px;
    
    }
    
    .header ul a li.logo img {
        height: 50px;
        width: 50px;
    }
    
    .header ul a li.title {
        font-size: 20px;
        line-height: 30px;
    }

    .title-main {
        margin-left: -10px;
        font-weight: 300;
        font-size: 15px;
        line-height: 10px;
    }

    .title-player {
        font-size: 15px;
        line-height: 20px;
    }

    .title-com {
        font-size: 15px;
        line-height: 20px;
    }


    #img-p-batu {
        padding: 15px 5px;
        width: 110px;
        height: 80px;
    }
    
    #img-p-kertas {
        padding: 15px 5px;
        width: 90px;
        height: 150px;
    }
    #img-p-gunting{
        padding: 15px 5px;
        width: 134px;
        height: 140px;
    }

    #img-com-batu {
        padding: 15px 5px;
        width: 110px;
        height: 80px;
    }
    
    #img-com-kertas {
        padding: 15px 5px;
        width: 90px;
        height: 150px;
    }
    
    #img-com-gunting {
        padding: 15px 5px;
        width: 134px;
        height: 140px;
    }

    .vs {
        margin-top: 200px;
        font-size: 70px;
        line-height: 90px;
    }

    .result {
        margin-top: 200px;
        width: 90px;
        height: 60px;
        font-size: 15px;
        line-height: 25px;
    }

    .refresh {
        margin-top: 180px;
        margin-left: 30px;
        width: 50px;
        height: 49px;
    }

    .hidden {
        display: none;
    }

    .score_P1 {
        width: 100px;
        height: 80px;
    }

    .header ul a li.logo img {
        display: none;
    }

    
}

@media (max-width:430px) {
    #img-p-batu {
        padding: 10px 5px;
        width: 80px;
        height: 70px;
    }
    
    #img-p-kertas {
        padding: 10px 5px;
        width: 80px;
        height: 70px;
    }
    #img-p-gunting{
        padding: 10px 5px;
        width: 80px;
        height: 70px;
    }

    #img-com-batu {
        padding: 10px 5px;
        width: 80px;
        height: 70px;
    }
    
    #img-com-kertas {
        padding: 10px 5px;
        width: 80px;
        height: 70px;
    }
    
    #img-com-gunting {
        padding: 10px 5px;
        width: 80px;
        height: 70px;
    }

    .col-4.com {
        margin-left: -40px;
    }

    .vs {
        margin-top: 170px;
        font-size: 50px;
        line-height: 60px;
    }

    .result {
        margin-top: 170px;
        width: 50px;
        height: 50px;
        font-size: 10px;
        line-height: 15px;
    }

    .refresh {
        margin-top: 150px;
        margin-left: 10px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width:365px) {
    .title-main {
        display: none;
    }

    #img-p-batu {
        padding: 10px 5px;
        width: 60px;
        height: 50px;
    }

    #img-com-batu {
        padding: 10px 5px;
        width: 60px;
        height: 50px;
    }

}