body {
  background-color: #3f3f3f;
}

.root-card-video {
  background-color: gray;
  height: 100vh;
  max-width: 100%;
}

.container.video-card {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.title-video {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.title-video:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.row.card-video-row {
  margin-top: 40px;
  justify-content: center;
}

.root-card {
  width: 250px;
  height: 130px;
  margin: 10px;
}

.poster-video {
  width: 100%;
  height: 100px;
}

.avatar-video {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: -12px;
}

.title-description-card {
  margin-top: 5px;
  color: white;
  margin-left: -10px;
}

.username-upload {
  font-size: 8px;
  color: white;
  margin-left: -12px;
  font-weight: 900;
}

.title-card-video {
  font-weight: 900;
}

.description-card-video {
  margin-top: -10px;
}

@media (max-width: 1200px) {
  .root-card {
    width: 200px;
    height: 110px;
    margin: 10px;
  }

  .title-description-card {
    margin-left: 0px;
    line-height: 13px;
  }
}

@media (max-width: 990px) {
  .root-card {
    width: 300px;
    height: 150px;
    margin: 10px;
  }

  .title-description-card {
    margin-left: 0px;
    line-height: 13px;
  }

  .container.video-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
