* {
  box-sizing: border-box;
}

.body-bg {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  background: no-repeat url("../public/images/main-bg.jpg");
  background-size: cover;
}

/* Register PAGE */

h1 {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  padding: 1rem 0;
}

.form-container {
  margin-top: 50px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 28px 56px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  width: 700px;
  max-width: 100%;
  min-height: 480px;
  text-align: center;
  z-index: 3;
}

.form input {
  background: #eee;
  border: none;
  padding: 5px 10px;
  margin: 0.7rem 0;
  width: 100%;
  border-radius: 5px;
}

.form {
  position: absolute;
  top: 0;
  height: 100%;
  width: 57%;
  padding: 4rem 2rem;
  z-index: 2;
  background-color: rgba(17, 17, 17, 0.9);
  color: #f4f4f4;
}

button.button-register {
  border-radius: 16px;
  border: 1px solid #f3af34;
  background-color: #f3af34;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 1rem 0;
}

button.button-register:hover {
  transform: scale(0.9);
}

button {
  outline: none;
}

button.btn.disable {
  border-radius: 16px;
  border: 1px solid gray;
  background-color: grey;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 1rem 0;
}

a {
  display: block;
  color: #f4f4f4;
  text-decoration: none;
  padding: 1rem 0;
  transition: all 80ms ease-out;
}

a:hover {
  color: #f4f4f4;
  transform: scale(1.2);
}

.img-side {
  position: absolute;
  top: 0;
  left: 50%;
  background: center / contain url("../public/images/image\ .png") no-repeat;
  padding: 0;
  margin: 0;
  width: 395px;
  height: 102%;
}

.label-avatar {
  text-align: center;
}

input.form-avatar {
  display: none;
}

.figure-personal {
  position: relative;
  width: 120px;
  height: 120px;
}

.personal-avatar {
  cursor: pointer;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.3s;
}

.file-input {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.file-video {
  margin:10px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 20px;
  background-color: gray;
  cursor: pointer;
}

.bi-camera-reels-fil {
  color: white;
  align-items: center;
  font-size: 50px;
}

.video-poster {
  margin:10px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 20px;
  background-color: gray;
  cursor: pointer;
}

.bi-image-alt {
  color: white;
  align-items: center;
  font-size: 20px;
}

@media (max-width: 768px) {
  .form-container {
    width: 600px;
  }

  .img-side {
    left: 42%;
    width: 450px;
  }
}

@media (max-width: 600px) {
  .form-container {
    width: 500px;
  }
  .form {
    width: 100%;
  }
  .img-side {
    display: none;
  }
}

@media (max-width: 430px) {
  .form-container {
    width: 300px;
  }
}

/* END OF LOGIN PAGE */
