.root-header-vido {
  top: 0;
  width: 100%;
  height: 90px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.3); 
}
.child-container {
  justify-content: start;
  padding: 10px;
  
}

.laquo {
  font-size: 40px;
  font-weight: 900;
}

.laquo:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.title-video-display {
  font-size: 60px;
  font-weight: 900;
}

.root-play-video {
  margin-top: 30px;
  width: 100%;
  max-height: 500px;
  border: 1px solid white;
  box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.3); 
}

.video-player-container {
  max-height: 300px !important;
}

.player-video {
  padding: 20px;
  max-height: 300px !important;
  width: 100%;
}
