.button {
  font: inherit;
  border: 1px solid #2a0e6a;
  background: #2a0e6a;
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}

.button:hover,
.button:active {
  background: #31448b;
  border-color: #31448b;
}

.button:focus {
  outline: none;
}
